{%extends "navbardefault.html"%}
	{%block contentcss%}
		.corporate h1
		{
			color: blue;
			position: absolute;
			margin-top: 20px;
			margin-left: 20px;

		}
		.corporate p
		{
			position: absolute;
			margin-left: 20px;
			margin-top: 90px;
			width: 200px;
			font-size: 20px;
		}
		.mission h1
		{
			color: blue;
			position: absolute;
			margin-top: 20px;
			margin-left: 420px;

		}
		.mission p
		{
			position: absolute;
			margin-left: 400px;
			margin-top: 90px;
			width: 300px;
			font-size: 20px;
		}
		.mission p1
		{
			position: absolute;
			margin-left: 400px;
			margin-top: 170px;
			width: 300px;
			font-size: 20px;
		}
		.strengths h1
		{
			color: blue;
			position: absolute;
			margin-top: 20px;
			margin-left: 880px;
		}
		.strengths p1
		{
			position: absolute;
			margin-top: 90px;
			margin-left: 850px;
		}
		.strengths p2
		{
			position: absolute;
			margin-top: 120px;
			margin-left: 850px;
		}
		.strengths p3
		{
			position: absolute;
			margin-top: 150px;
			margin-left: 850px;
		}
		.strengths p4
		{
			position: absolute;
			margin-top: 180px;
			margin-left: 850px;
		}
		.strengths p5
		{
			position: absolute;
			margin-top: 210px;
			margin-left: 850px;
		}
		.strengths p6
		{
			position: absolute;
			margin-top: 240px;
			margin-left: 850px;
		}
		.values h1
		{
			color: blue;
			position: absolute;
			margin-top: 20px;
			margin-left: 1200px;
		}
		.values p1
		{
			position: absolute;
			margin-top: 90px;
			margin-left: 1200px;
		}
		.values p2
		{
			position: absolute;
			margin-top: 120px;
			margin-left: 1200px;
		}
		.values p3
		{
			position: absolute;
			margin-top: 150px;
			margin-left: 1200px;
		}
		.values p4
		{
			position: absolute;
			margin-top: 180px;
			margin-left: 1200px;
		}
		.values p5
		{
			position: absolute;
			margin-top: 210px;
			margin-left: 1200px;
		}
		.values p6
		{
			position: absolute;
			margin-top: 240px;
			margin-left: 1200px;
		}
	{%endblock%}
{%block contenthtml%}

<div class="corporate">
	<h1>Corporate Culture</h1>
	<p>
		Chartered Speed promotes and fosters a unique business environment through a strong emphasis on combining solid business practices with high character standards and values.
	</p>
</div>
<div class="mission">
	<h1>Mission & Vision</h1>
	<p>
		Mission : To be India’s most safe and premium holistic passenger transport company.
	</p>
	<p1>
	   Vision : With a very strong presence in transportation industry, Chartered Speed will continue to develop, produce and refine the best and safest products while providing comprehensive support services to promote customer loyalty and long-term
	</p1>
</div>
<div class="strengths">
	<h1>Strengths</h1>
	<p1>* 20+ Years of Experience</p1>
	<p2>* Aggressive Team</p2>
	<p3>* Strong Presence</p3>
	<p4>* Huge inventory space</p4>
	<p5>* Larger depot space</p5>
	<p6>* Skilled manpower</p6>
</div>
<div class="values">
	<h1>values</h1>
	<p1>* Reliability</p1>
	<p2>* Quality</p2>
	<p3>* Responsibility</p3>
	<p4>* Sincerity</p4>
	<p5>* Vitality</p5>
	<p6>* Strong Business</p6>
</div>
{%endblock%}