{%extends "navbardefault.html"%}
{%block contentcss%}
h2
{
    margin-left:50px;
    margin-top:30px;
    font-size:25px;
    color:blue;
}
p9
{
    position:absolute;
    margin-top:px;
    margin-left:80px;
}
h3
{
    margin-left:50px;
    margin-top:60px;
    font-size:25px;
    color:blue;
}
p10
{
   position:absolute;
    margin-top:px;
    margin-left:80px;
}
h4
{
    margin-left:50px;
    margin-top:80px;
    font-size:25px;
    color:blue;
}
p11
{
   position:absolute;
    margin-top:px;
    margin-left:80px;
}

h5
{
    margin-left:50px;
    margin-top:60px;
    font-size:25px;
    color:blue;
}
p12
{
   position:absolute;
    margin-top:px;
    margin-left:80px;
}

h6
{
    margin-left:50px;
    margin-top:60px;
    font-size:25px;
    color:blue;
}
p13
{
    position:absolute;
    margin-top:px;
    margin-left:80px;
}

{%endblock%}
{%block contenthtml%}
<div class="condition">
    <h2>Additional Information</h2>
    <p9>* Use your PNR No for all communication with Chartered Bus. Your PNR No. serves as confirmation of ticket status. Carry a print out of this e-ticket and Present it to the bus counter at time of check in. Carry photo identification, you will need it as proof of identity while checking in.</p9>

    <h3>Boarding of Passengers</h3>
    <p10>Passengers shall report at the boarding point at least 15 minutes prior to the scheduled departure time. Passengers who do not report on time will be termed as NO-SHOW passenger and will be denied boarding and Not entitled for any refund of the ticket amount any how. Chartered Bus reserves the right to deny boarding to passengers who are under the influence of alcohol or owing to any misconduct of behavior/critically ill/stretcher borne which may not be deemed safe for travel by Chartered Bus.</p10>

    <h4>Photo Identification</h4>
    <p11>Passenger shall present valid e-Ticket along with a valid photo identity card of at least one of the passengers of the group issued by one the government authority otherwise they will be denied boarding and not entitled for refund.</p11>

    <h5>Contact Information</h5>
    <p12>Chartered Speed Limited Helpline 24 X 7: 0731 42 88 888 Chartered Speed Limited Customer Support Email (Response Time 3 Working Days):support@charteredbus.in</p12>

    <h6>Cancellation Policies</h6>
    <p13>
        * Less than 4 hours from the station departure time 100% Cancellation Charges <br>
        * Between 4 Hrs to 8 Hrs from the station departure time 80% Cancellation Charges<br>
        * Between 8 Hrs to 12 Hrs from the station departure time 60% Cancellation Charges<br>
        * Between 12 Hrs to 24 Hrs from the station departure time 40% Cancellation Charges<br>
        * Between 1 to 30 days before station departure time 20% Cancellation Charges
    </p13>
</div>
{%endblock%}