{%extends "navbardefault.html"%}
	{%block contentcss%}
		.contact h1
		{
			position: absolute;
			margin-left: 150px;
			margin-top:80px;
		}
		.contact p
		{
			position: absolute;
			margin-left: 150px;
			margin-top:130px;
			color: blue;
			font-size: 30px;
		}
		.contact p1
		{
			position: absolute;
			margin-left: 150px;
			margin-top:180px;
			font-size: 20px;
		}
		.contact p2
		{
			position: absolute;
			margin-left: 150px;
			margin-top:210px;
			font-size: 20px;
		}
		.contact p3
		{
			position: absolute;
			margin-left: 150px;
			margin-top:240px;
			font-size: 20px;
		}
		.contact iframe
		{
			height:350px;
			weight:350px;
			position: absolute;
			margin-left: 750px;
			margin-top:50px;
		}

	{%endblock%}
{%block contenthtml%}

<div class="contact">
	<h1>Contact Us</h1>
	<p>CORPORATE OFFICE</p>
	<p1>Shiv Nagar 80 Feet Road Bhopal 463020</p1>
	<p2>+91 9522546358 | +91 6265640216 | +91 8518922958</p2>
	<p3>chartered2022@gmail.com</p3>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1079.055910053012!2d77.41669000349768!3d23.293745253784245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1658807771675!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
{%endblock%}